@using BlogPlatform.Components.States
@using BlogPlatform.Services.Contracts
@using Domain.BlogDomain
@inject IClientBlogService blogService
@inject IToastService toastService
@inject IJSRuntime JsRuntime

<div class="card  border border-primary rounded mb-3 mt-3">
    <div class="card-body">
        @if (blog is null)
        {
            <LoadingState />
        }
        else
        {
            <a href="/blog/view/@blog.Id" class="card-title text-dark text-decoration-none">
                <h5>@blog.Title</h5>
            </a>

            <EditForm Model="@blog" OnValidSubmit="SaveBlog" FormName="SaveBlog">
                <DataAnnotationsValidator />

                @if (isEditing)
                {
                    <InputTextArea class="form-control textarea" @bind-Value="blog.Content" />
                    <ValidationMessage For="@(() => blog.Content)" />

                    <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
                }
                else
                {
                    <p class="card-text mt-2">@((blog.Content.Length > 100) ? blog.Content.Substring(0, 100) + "..." :
                blog.Content)</p>
                }

            </EditForm>

            <div class="justify-content-end d-flex">
                <a href="/blog/view/@blog.Id" class="btn rounded text-info">View blog</a>
            </div>

            @if (!isEditing)
            {

                <div class="justify-content-end d-flex">
                    <a @onclick="ToggleEdit" class="btn rounded text-info">Edit blog</a>
                </div>
            }

            <div class="justify-content-end d-flex">
                <a @onclick="DeleteBlog" class="btn rounded text-danger text-decoration-none">Delete blog</a>
            </div>

            <div class="card-footer">
            <div>
                <i class="bi bi-chat"></i> @blog.Comments?.Count()
            </div>

            <div>
                <i class="bi bi-calendar"></i> posted on: @blog.CreatedAt.ToString("dd-MM-yyyy")
            </div>

            @if (blog.CreatedAt != blog.UpdatedAt)
                {
                    <div>
                        <i class="bi bi-calendar"></i> updated on: @blog.UpdatedAt.ToString("dd-MM-yyyy")
                    </div>
                }
            </div>
        }
    </div>
</div>

@code {

    [Parameter]
    public required Blog blog { get; set; }

    private bool isEditing = false;

    [Parameter]
    public EventCallback onDeleteBlog { get; set; }

    private async Task DeleteBlog()
    {

        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure you wish to delete the blog?");

        if (confirmed)
        {
            await blogService.DeleteBlogAsync(blog.Id);

            await onDeleteBlog.InvokeAsync();

            toastService.ShowSuccess("Blog deleted!");
        }
    }

    private async Task SaveBlog()
    {
        var newBlog = await blogService.UpdateBlogAsync(blog);

        blog.UpdatedAt = newBlog.UpdatedAt;

        ToggleEdit();

        toastService.ShowSuccess("Blog updated!");
    }

    private void ToggleEdit()
    {
        isEditing = !isEditing;
    }
}
